/* Navbar*/
.color-de-fondo-nav {
    background-color: #FFE2EC;
}

.color-button {
    background-color: #b30809;
}

.texto-rojo {
    color: #b30809;
}

/* Color de fondo */
body {
    background-color: #FFE2EC;
}

/* Titulo */
h1 {
    color: #b30809;
    font-family: the-seasons, sans-serif;
    font-style: normal;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

/* Subtitulo */
h2 {
    color: #b30809;
    font-family: the-seasons, sans-serif;
    font-style: normal;
}

/* Main */

.main .texto {
    color: #b30809;
    font-family: the-seasons, sans-serif;
    font-style: normal;
}


.main .titulo {
    text-align: center;
    color: #b30809;
    text-decoration: underline;
}

.main .card {
    background-color: #FFE2EC;
}

.main .budin {
    font-size: 35px;
    text-align: left;
    padding-left: 300px;
    list-style-type: none;

}

.main .menu-budines {
    color: #b30809;
    padding-left: 280px;
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: column;
}

.main .menu {
    list-style-type: none;
    color: #b30809;
}

.main .menu-tortas {
    color: #b30809;
    padding-left: 880px;
    position: relative;
    top: -200px;
}

.main .tortas {
    font-size: 35px;
    text-align: right;
    list-style-type: none;
    padding-right: 335px;
    position: absolute;
    top: 167px;
    left: 900px;
}

.main .mapa {
    justify-content: center;
}


/* Footer */
.footer .texto {
    color: black;
    font-family: the-seasons, sans-serif;
    font-style: normal;
    text-align: center;
}

.footer .redes {
    text-align: center;
}

.footer .redes a {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}