$color-blanco: white;
$fuente-parrafo: Arial, Helvetica;

@media screen and (min-width: 1024px) {

    header {
        align-items: center;

        nav {
            display: block;

            ul {
                list-style-type: none;
                display: flex;

                li {
                    margin: 5px;

                    a {
                        color: $color-blanco;
                        text-decoration: none;
                        font-family: $fuente-parrafo;
                        transition: 1s;

                        &:hover {
                            color: yellow;
                            margin: 15px;
                        }
                    }
                }
            }
        }

        .boton-plataforma {
            display: flex;
            align-items: center;

            a {
                display: block;
                color: $color-blanco;
                text-decoration: none;
                font-family: $fuente-parrafo;
                margin-right: 15px;
            }
        }
    }
}