.footer .texto {
    color: black;
    font-family: the-seasons, sans-serif;
    font-style: normal;
    text-align: center;
}

.footer .redes {
    text-align: center;
}

.footer .redes a {
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}