h1 {
    background-color: linear-gradient(to left, #000000, #857c7c);
    border-radius: 5px;
    color: #b30809;
    font-family: the-seasons, sans-serif;
    font-style: normal;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

/* Subtitulo */
h2 {
    color: #b30809;
    font-family: the-seasons, sans-serif;
    font-style: normal;
}

h3 {
    color: #b30809;
    font-family: the-seasons, sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}

h4 {
    color: #b30809;
    font-family: the-seasons, sans-serif;
    font-style: normal;
}